<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISessionService" />
                <binding name="BasicHttpBinding_IWeighingService" />
                <binding name="BasicHttpBinding_IWeighingTaskService" />
                <binding name="BasicHttpBinding_IUserInteractionService" />
                <binding name="BasicHttpBinding_IToleranceProfileService" />
                <binding name="BasicHttpBinding_IRoutineTestService" />
                <binding name="BasicHttpBinding_INotificationService" />
                <binding name="BasicHttpBinding_IFeederService" />
                <binding name="BasicHttpBinding_IDraftShieldsService" />
                <binding name="BasicHttpBinding_IDosingAutomationService" />
                <binding name="BasicHttpBinding_IBasicService" />
                <binding name="BasicHttpBinding_IAuthenticationService" />
                <binding name="BasicHttpBinding_IAdjustmentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionService"
                contract="MT.Laboratory.Balance.XprXsr.V02.ISessionService"
                name="BasicHttpBinding_ISessionService_ISessionService" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeighingService"
                contract="MT.Laboratory.Balance.XprXsr.V02.IWeighingService"
                name="BasicHttpBinding_IWeighingService_IWeighingService" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeighingTaskService"
                contract="MT.Laboratory.Balance.XprXsr.V02.IWeighingTaskService"
                name="BasicHttpBinding_IWeighingTaskService_IWeighingTaskService" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserInteractionService"
                contract="MT.Laboratory.Balance.XprXsr.V02.IUserInteractionService"
                name="BasicHttpBinding_IUserInteractionService_IUserInteractionService" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IToleranceProfileService"
                contract="MT.Laboratory.Balance.XprXsr.V02.IToleranceProfileService"
                name="BasicHttpBinding_IToleranceProfileService_IToleranceProfileService" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoutineTestService"
                contract="MT.Laboratory.Balance.XprXsr.V02.IRoutineTestService"
                name="BasicHttpBinding_IRoutineTestService_IRoutineTestService" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService"
                contract="MT.Laboratory.Balance.XprXsr.V02.INotificationService"
                name="BasicHttpBinding_INotificationService_INotificationService" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFeederService"
                contract="MT.Laboratory.Balance.XprXsr.V02.IFeederService"
                name="BasicHttpBinding_IFeederService_IFeederService" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDraftShieldsService"
                contract="MT.Laboratory.Balance.XprXsr.V02.IDraftShieldsService"
                name="BasicHttpBinding_IDraftShieldsService_IDraftShieldsService" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDosingAutomationService"
                contract="MT.Laboratory.Balance.XprXsr.V02.IDosingAutomationService"
                name="BasicHttpBinding_IDosingAutomationService_IDosingAutomationService" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBasicService"
                contract="MT.Laboratory.Balance.XprXsr.V02.IBasicService"
                name="BasicHttpBinding_IBasicService_IBasicService" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService"
                contract="MT.Laboratory.Balance.XprXsr.V02.IAuthenticationService"
                name="BasicHttpBinding_IAuthenticationService_IAuthenticationService" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdjustmentService"
                contract="MT.Laboratory.Balance.XprXsr.V02.IAdjustmentService"
                name="BasicHttpBinding_IAdjustmentService_IAdjustmentService" />
        </client>
    </system.serviceModel>
</configuration>